.contain {
    float: right;
    width: 45vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.title {
    height: 7vh;
    background-color: transparent;
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 2px;
    color: white;
}
.title-L {
    text-align: left;
}
.title-R {
    text-align: right;
}
.title-M {
    text-align: center;
}
.card {
    /* width: 35vw; */
    border: 1px solid white;
    border-right-style: none;
    margin-left: 9.9vw;
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
}
.card-L {
    width: 25vw;
    border: 1px solid white;
    border-left-style: none;
    margin-left: 0;
}
.text {
    color: white;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.5px;
}
.image {
    width: 20vw;
    height: 20vh;
    margin-left: 13vw;
    margin-top: 1vw;
}
.proposal {
    width: 15vw;
    height: 12vh;
    background-color: white;
    margin: 8px 2vw;
}
.proposalChart {
    width: 15vw;
    height: 12vh;
    margin: 8px;
    background-color: white;
}

.proposalChart2 {
    width: 20vw;
    height: 25vh;
    margin: 10px;
    background-color: white;
}

.containM {
    display: flex;
    flex-direction: row;
}

.left {
    height: 100vh;
    flex-direction: column;
    width: 32vw;
}
.middle {
    width: 36vw;
}
.right {
    width: 32vw;
}

.label-bg {
    width: 2vw;
    height: 16vh;
    background-image: linear-gradient(180deg, rgba(153,53,91,1) 0%,rgba(197,146,63,1) 100%);
    border-radius: 5em;
    box-shadow: 0 0 10px 5px rgba(197,146,63,0.5) ;
    color: #fff;
    writing-mode: vertical-lr;
    text-align: center;
    margin-bottom: 8vh;
}

.btn {
    width: 7vw;
    height: 7vw;
    background: url("button.png");
    background-size: 100% 100%;
    border: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.btn:focus{
    outline: none;
}

.table-div {
    background-color: rgba(245, 245, 245, 0.75);
    padding: 5px;
    margin: 8px;
}

table {
    border-collapse:collapse;
    height: 25vh;
}
.table-title {
    color: #196b5c;
    font-size: 12px;
    transform: scale(0.8);
    border-bottom: 1px solid #196b5c;
}
tr td {
    font-size: 12px;
    transform: scale(0.6);
    text-align: center;
    padding: 2px 5px;
}
tr:last-child td {
    border-bottom: 1px solid #000;
}
.card-R {
    width: 35vw;
    border: 1px solid white;
    border-left-style: none;
    margin-left: 0;
}

.text-image {
    margin-left: 0.8vw;
}