body {
    margin: 0;
}
.header {
    height: 10vh;
    background:rgba(255,255,255,1);
    box-shadow:0px 2px 10px 0px rgba(190,204,215,0.39);
}

.chart {
    width: 30vw;
    height: 25vh;
}

.bg-green {
    background-color: rgb(8,102,85) ;
    width: 50vw;
}

.contain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bg-chart {

}