body {
    margin: 0;
}
.header {
    height: 8.75vh;
    background-color: rgb(2,83,74);
    border-bottom: 1px solid white;
    /* box-shadow:0px 2px 10px 0px rgba(8,102,85, 0.6); */
}

.chart {
    width: 30vw;
    height: 22.7vh;
}

.bg-green {
    background-color: rgb(2,83,74) ;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-green img {
	width: 50vw;
	height: 45vh;
}

.contain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
